<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>KBA Betting Dapp on Ethereum</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <h1>Betting Dapp on Ethereum</h1>

</head>

<body>
  <table>
    <tr>
      <td>

        <h2>Betting Details</h2>
        <br>

        <div id="details">
          <p><b>Number of Bets</b> : <%= data1 %></p>
          <br>
          <p><b>Total ether bet</b> : <%= data2 %></p>
          <br>

          <p><b>Minimum Bet</b> : <%= wei %></p>
          <br>


          <p><b>Max amount of Bets</b> : <%= data4 %></p>
          <br>
          <p><b>Last winning Number</b> : <%= data5 %></p>
          <br>

      </td>
      <td>

        <h2>Start Betting..................!!!</h2>
        <br>
        <br>
       <p>You can only bet once per account</p>
        <p>Select Your Address & Betting Number:</p>
        <select id="Betters">
          <option value="<%= data[0]%>"><%= data[0]%></option>
          <option value="<%= data[1]%>"><%= data[1]%></option>
          <option value="<%= data[2]%>"><%= data[2]%></option>
          <option value="<%= data[3]%>"><%= data[3]%></option>
          <option value="<%= data[4]%>"><%= data[4]%></option>
        </select>
      
        <select id="Numbers">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
        </select>
        <p>Input Your Betting Amount:</p>
        <input id="amount" name="amount" type="text" placeholder="Amount (wei)">
        <input type="submit" id="betAction" value="Bet">
        <br>
        <br>
        <br>
        <p>Generate Winning number of this round and Distribute Prize:</p>
        <input type="submit" id="GenerateWinner" value="Generate Winner Number and Distribute Prize">
      </td>
  </table>
  </div>
  <div class="footer">&copy; Copyright 2019, Kerala Blockchain Academy</div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" rel="stylesheet" />
  <script>
    document.getElementById("betAction").addEventListener("click", betAction, false);
    document.getElementById("GenerateWinner").addEventListener("click", generateWinner, false);
    function betAction() {

      $.post("/Bet",
        {

          Betters: document.getElementById("Betters").value,
          amount: document.getElementById("amount").value,
          number: document.getElementById("Numbers").value

        },
        function (tx, status) {
          console.log("Data: " + tx + "\nStatus: " + status);
          alert(tx);
          location.reload();

        });
    }
    function generateWinner() {

$.post("/GenerateWinner",
  {
  },
  function (tx, status) {
    console.log("Data: " + tx + "\nStatus: " + status);
    alert("Winning Number is :"+tx +"\n Prize Distribution is Successfully completed");
    location.reload();

  });
}
  </script>
</body>

</html>