body {
  background-image: url("https://boundlesstech.net/wp-content/uploads/2018/12/Background-opera-speeddials-community-web-simple-backgrounds.jpg");
  background-attachment: fixed;
  border: 2px solid black;
  padding: 25px;
   /* Full height */
   height: 100%; 
 
   /* Center and scale the image nicely */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   
  background-color: #cccccc;
  font-family: 'Raleway','Source Sans Pro', 'Arial';
}
h1 {
	margin: 0em 0 0.5em 0;
	color: #291c4d;
	font-weight: bold;
	font-family: 'Ultra', sans-serif;   
  font-size: 45px;
  font-style: italic;
  text-align: center;
	line-height: 42px;
	font-variant: capitalize;
  text-shadow: 0 2px white, 0 3px #777;
  border: 7px solid rgb(248, 244, 244);
  border-radius: 8px;
  
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: rgb(114, 108, 114);
  border: none;
  color: black;
  padding: 12px 32px;
  font-size: 16px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
  border: 2px solid rgb(114, 108, 108);
  border-radius: 2px;
}
select {
  padding:5px;
  margin: 0;
  -webkit-border-radius:8px;
  -moz-border-radius:8px;
  border-radius:8px;
  -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
  -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
  box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
  background: #f8f8f8;
  color:rgb(19, 12, 12);
  border:2px solid black;
  outline:none;
  display: inline-block;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  cursor:pointer;
  font-weight: bold;
  font-size: 15px;
}
p{
 
	font-weight: bold;
	font-family: 'Ultra', sans-serif;   
  font-size: 17px;
  font-style: italic;
  
	font-variant: capitalize;
}
h2 {
	margin: 1em 0 0.5em 0;
	color: #ffffff;
	font-weight: bold;
	font-family: 'Ultra', sans-serif;   
  font-size: 25px;
  font-style: italic;
  text-align: center;
	line-height: 42px;
	font-variant: capitalize;
  text-shadow: 0 2px white, 0 3px #777;
  border: 7px solid rgb(31, 29, 29);
  border-radius: 8px;
  background-color:rgb(162, 201, 164);
}
.stylename1 {
  font-family: Georgia, “Times New Roman”, Times, serif;
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
  font-variant: capitalize;
  color: rgb(75, 21, 43);
  
  background-color:rgb(238, 231, 231);
  border: 8px solid rgba(140, 145, 190, 0.911);
  border-radius: 8px;
 }
 .stylename {
  font-family: Georgia, “Times New Roman”, Times, serif;
  font-size: 25px;
  font-style: italic;
  font-weight: bold;
  font-variant: small-caps;
  color: rgb(10, 5, 19);
 }
 td:nth-of-type(1) {
 padding-right: 400px;
 }
 input[type=text] {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

td:nth-of-type(1) {
  padding-right: 400px;
  }
